// Break Points
// ------------------------------------------------------------------------ //

$small: 'screen and (min-width: 28em)';
$small_portrait: 'screen and (min-width: 28em) and (orientation: portrait)';
$small_landscape: 'screen and (min-width: 28em) and (orientation: landscape)';

$medium: 'screen and (min-width: 48em)';
$medium_portrait: 'screen and (min-width: 48em) and (orientation: portrait)';
$medium_landscape: 'screen and (min-width: 48em) and (orientation: landscape)';

$large: 'screen and (min-width: 64em)';
$extra_large: 'screen and (min-width: 75em)';